@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background: rgb(5, 5, 54);
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.NavbarContainer {
  padding-left: 10%;
  padding-right: 10%;
}

.btn {
  background: #fff;
  color: #212121;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.btn:hover {
  background-color: rgb(5, 5, 54);
  color: #fff;
}

/* Projects Container Styles */

.projects-container {
  display: grid;
  grid-template-columns: 1fr; /* One column for h2 */
  text-align: center;
  padding: 5%;
  background-color: #ccc;
}

.container-header {
  margin-bottom: 30px;
}

.project-item {
  display: grid;
  grid-template-columns: 1fr; /* Adjust for responsiveness */
  position: relative;
  margin-bottom: 10%;
}

.client-year {
  display: flex;
  align-items: center;
}

.round-circle {
  width: 35%; /* Adjust the size of the round circle */
  height: 150%; /* Adjust the size of the round circle */
  border-radius: 50%;
  background-color: rgb(5, 5, 54);
  margin-left: auto;
  margin-right: auto;
}

.client-year-text {
  margin-left: -25%; /* Adjust margin as needed */
  text-align: center;
}

.project-description {
  display: flex;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  color: rgb(5, 5, 54);
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}

.webButton {
  background-color: rgb(5, 5, 54);
  border-radius: 10px;
  color: #ccc;
  margin-top: -30px;
}

.container-header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .project-item {
    grid-template-columns: 1fr 1fr; /* Two columns for larger screens */
  }
}

@media only screen and (min-width: 992px) {
  .project-item {
    grid-template-columns: repeat(3, 1fr); /* Three columns for even larger screens */
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
